@page "/"
@page "/wz"
@using WzWeb.Shared
@using Microsoft.AspNetCore.WebUtilities
@inject HttpClient Http
@inject NavigationManager NavigationManager;

@if (node == null)
{
    <Loading></Loading>
}
else
{
    <BreadCrumb Path=@path></BreadCrumb>
    <div class="row">
        <div class="col-md-3">
            <NodeList CurrentNode="@node"></NodeList>
        </div>
        @if (node.Type == NodeType.Wz_File)
        {
            <div class="col-md-6">
                <FileTable CurrentNode=@node></FileTable>
            </div>
        }
        @if (node.Type == NodeType.Wz_Png)
        {
            <div class="col-md-6">
                <Png CurrentNode="@node"></Png>
            </div>
        }

    </div>
}

@code {

    private string path;

    private Node node;

    protected override async Task OnInitializedAsync()
    {
        var query = new Uri(NavigationManager.Uri).Query;

        if (QueryHelpers.ParseQuery(query).TryGetValue("path", out var value))
        {
            path = value;
        }

        path = path ?? "Base";
        node = await Http.GetFromJsonAsync<Node>($"Maple/GetNode?path={path}");
    }

}
