@page "/wz"
@using WzWeb.Shared
@inject HttpClient Http

@if (node == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@node.Text</li>
        </ol>
    </nav>
    @if (node.Type == NodeType.Wz_File)
    {

    }


}

@code {
    private Node node;

    protected override async Task OnInitializedAsync()
    {
        node = await Http.GetFromJsonAsync<Node>("Maple");
    }
}
