@if (Path == null || pathes == null)
{
    <Loading></Loading>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @{
                        var ext = "wz?path=";
                        @for (int i = 0; i < pathes.Count - 1; i++)
                        {
                            var index = i;
                            ext += pathes[index];
                            <li class="breadcrumb-item">
                                <HyperLink Link=@ext>
                                        @pathes[index]
                                </HyperLink>
                            </li>

                            ext += @"\";
                        }
                        <li class="breadcrumb-item active" aria-current="page">@pathes[pathes.Count - 1]</li>
                    }
                </ol>
            </nav>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Path { get; set; }

    private List<string> pathes;
    private Dictionary<string, string> linkDic = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            pathes = Path.Split('\\').ToList();
            if (pathes[0] != "Base") pathes.Insert(0, "Base");
        });
    }

}
