@inject INotifierService Notifier
@implements IDisposable

@if (searchFaces == null)
{
    <Loading></Loading>
}
else
{
    <div class="card">
        <div class="card-header">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="搜索脸型" value="@searchText" aria-label="Search" @oninput="Search" style="width:9.5rem">
                <button class="btn btn-success my-2 my-sm-0" type="button" @onclick="SearchFromServer">全局搜索</button>
            </form>
        </div>
        <FixedHeightTemplate Percentage="50">
            <div class="card-body " style="padding:0rem">
                <div class="list-group list-group-flush">
                    @foreach (var face in searchFaces)
                    {
                        <FaceItem CurrentFace="face"></FaceItem>
                    }
                </div>
            </div>
        </FixedHeightTemplate>
    </div>
    <PageComponent PageCount="pageCount"></PageComponent>
}



@code {

    private bool hasNext = true;
    private string searchText;

    private int pageCount;
    private int currentPageIndex;
    private int pageItemCount = 10;

    private IList<Face> searchFaces;

    protected async override Task OnInitializedAsync()
    {
        Notifier.Notify += OnNotify;

        var response = await BrowserService.GetFaces(30);
        hasNext = response.HasNext;
        await calculatePage();
    }

    private async Task calculatePage()
    {
        await InvokeAsync(() =>
        {
            pageCount = (int)MathF.Ceiling(BrowserService.Faces.Count / 10f);
            currentPageIndex = (BrowserService.CurrentFaceListPageNum - 1) * pageItemCount;
            searchFaces = BrowserService.Faces.Skip(currentPageIndex).Take(pageItemCount).ToList();
            _ = GetFaces();
        });
    }

    private async Task OnNotify(string key, int value)
    {
        await InvokeAsync(async () =>
        {
            await calculatePage();
            StateHasChanged();
        });
    }

    private async Task GetFaces()
    {
        if (!hasNext)
        {
            return;
        }
        var response = await BrowserService.GetFaces(10);
        hasNext = response.HasNext;
    }

    private void ChooseFace()
    {

    }

    private void Search()
    {

    }

    private void SearchFromServer()
    {

    }
    public void Dispose()
    {
        Notifier.Notify -= OnNotify;
    }

}
