@using WzWeb.Shared
@inject HttpClient Http

@if (fileInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4 class="mb-3">文件信息</h4>
    <dl>
        <dt class="border d-flex">基本信息</dt>
        <dd class="border">@fileInfo.Signature</dd>
    </dl>


}

@code {

    [Parameter]
    public Node CurrentNode { get; set; }

    private FileInfo fileInfo;

    protected override async Task OnInitializedAsync()
    {

        var resp = await Http.PostAsJsonAsync<Node>("Maple/GetFileInfo", CurrentNode);
        fileInfo = await resp.Content.ReadFromJsonAsync<FileInfo>();
    }

}

