@using WzWeb.Shared
@inject HttpClient Http


@if (fileInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h class="card-title">节点信息</h>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}

@code {

    private FileInfo fileInfo;
    private Node node;

    private async Task GetFileInfo()
    {
        fileInfo = await Http.GetFromJsonAsync<FileInfo>("Maple/GetFileInfo");
    }

}

