@using WzWeb.Shared
@inject HttpClient Http



@if (fileInfo == null)
{
    <Loading></Loading>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5>文件信息</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                @{
                    void RenderInfo(string name, object info)
                    {
                        <dt class="col-md-5"> @name </dt>
                        <dd class="text-break col-md-7"> @info </dd>
                    }

                    Type t = fileInfo.GetType();
                    var propertyList = t.GetProperties();
                    foreach (var item in propertyList)
                    {
                        RenderInfo(item.Name, item.GetValue(fileInfo));
                    }
                }
            </dl>
        </div>
    </div>
}



@code {

    [Parameter]
    public Node CurrentNode { get; set; }

    private MapleFileInfo fileInfo;



    protected override async Task OnInitializedAsync()
    {

        var resp = await Http.PostAsJsonAsync<Node>("api/Maple/GetFileInfo", CurrentNode);
        fileInfo = await resp.Content.ReadFromJsonAsync<MapleFileInfo>();
    }



}

