@using WzWeb.Shared
@inject HttpClient Http

@if (nodes == null)
{
    <Loading></Loading>
}
else
{
    if (nodes.Count > 0)
    {
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    <h5>子节点</h5>
                </div>
                <div class="card-body overflow-auto" style="height: @(height);padding:0rem">
                    <div class="list-group list-group-flush">
                        @foreach (var node in nodes)
                        {
                            <div class="list-group-item">
                                <NodeLink CurrentNode="@node"></NodeLink>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@code{
    [Parameter]
    public Node CurrentNode { get; set; }

    private string height = "850px";

    private List<Node> nodes;

    protected override async Task OnInitializedAsync()
    {
        var resp = await Http.PostAsJsonAsync<Node>("Maple/GetNodeList", CurrentNode);
        nodes = await resp.Content.ReadFromJsonAsync<List<Node>>();
    }
}