@if (DisplaySpinner)
{
    <FixedHeightTemplate Percentage="50">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </FixedHeightTemplate>
}
else
{
    @ChildContent
}