@using WzWeb.Shared
@inject HttpClient Http

@if (uol == null)
{
    <Loading></Loading>
}
else
{
    <NormalCardTemplate>
        <Header>
            <h5>超链接</h5>
        </Header>
        <Body>
            <dl class="row">
                <dt class="card-title col-md-6">@targetNode.Text</dt>
                <dd class="card-text col-md-6">
                    <HyperLink Link="@($"wz?path={targetNode.FullPathToFile}")">@uol</HyperLink>
                </dd>
            </dl>
        </Body>
    </NormalCardTemplate>
}
@code {

    [Parameter]
    public Node CurrentNode { get; set; }

    private Node targetNode;
    private string uol;

    protected async override Task OnInitializedAsync()
    {
        var request = new UolRequest { Node = CurrentNode };
        var data = await Http.PostAsJsonAsync<UolRequest>("api/Maple/GetUol", request);
        var response = await data.Content.ReadFromJsonAsync<UolResponse>();
        targetNode = response.TargetNode;
        uol = response.Uol;
    }

}
