<SpinnerContainer DisplaySpinner="DisplaySpinner">
    <NormalCardTemplate>
        <Header>
            <h5>@CurrentNode.Text</h5>
        </Header>
        <Body>
            <div class="d-flex justify-content-center" style="min-height: 64px; min-width: 64px;">
                <img src="data:image/png;base64,@png.Base64Data" class="card-img align-middle" alt="..." style="width:@(png.Width+"px");height:@(png.Height+"px");" />
            </div>
        </Body>
    </NormalCardTemplate>
</SpinnerContainer>



